<div class="mx-auto md:w-2/3 w-full flex">
<div class="mx-auto">


    <%= render @city %>

    <div class="flex justify-between items-center">
    <h3 class="my-5">
      Neighborhoods
    </h3>
    <%= link_to "New neighborhood", new_city_neighborhood_path(@city), class: "rounded-lg px-2 bg-blue-600 text-white block font-medium" %>
  
   
  </div>


    <div id="neighborhoods" class="min-w-full">

      <ul>
      <% @city.neighborhoods.each do |neighborhood| %>
        <li>
          <%= link_to(neighborhood.name, city_neighborhood_path(@city, neighborhood)) %>
        </li>
      <% end %>
      </ul>
    </div>

    <table>
      <thead>
        <tr>
          <th>Neighborhood</th>
          <th>Address</th>
          <th>Bedrooms</th>
          <th>Rent</th>
          <th>Remaining Bedrooms</th>

        </tr>
      </thead>
      <tbody>
        <% @apartments.each do |apartment| %>
          <tr>
            <td><%= apartment.neighborhood.name %></td>
            <td><%= link_to(apartment.street_address, apartment_path(apartment)) %></td>
            <td><%= apartment.bedrooms %></td>
            <td><%= number_to_currency(apartment.rent, precision: 0) %></td>
            <td><%= apartment.remaining_bedrooms %></td>
          </tr>
        <% end %>
      </tbody>
    </table>



    <%= link_to "Edit this city", edit_city_path(@city), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this city", city_path(@city), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to cities", cities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
